<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h1>Registrarse</h1>
            <br>
            <form action="/signup" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="username">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Nombre de Usuario">
                </div>
                <div class="form-group">
                    <label for="email">Ingrese su email</label>
                    <input id="email" class="form-control" type="email" name="email" required placeholder="email">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                </div>
                
                <button class="btn btn-success mt-3">Enviar</button>
                <br>
                <button class="btn btn-success mt-3"><a href="/login">Login</a></button>
            </form>
        </div>
    </div>
</body>

</html>